body {
  font-family: "Poppins", sans-serif;
  background-color: #111111;
  background-attachment: fixed;
  color: #354358;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #13547a, #80d0c7);
}

a {
  text-decoration: none;
  color: #354548;
}

a:hover {
  text-decoration: none;
  color: #13547a;
}

.app_row {
  height: 86vh;
}

.app_container {
  padding-top: 13px;
}

.app_main_content {
  background-color: black;
  border-radius: 20px;
  padding: 25px 15px;
  box-shadow: 0 0 10px rgb(26, 25, 25);
}

.sidebar {
  background-color: black;
  height: 100%;
  border-radius: 20px;
  padding: 25px 15px;
  box-shadow: 0 0 10px rgb(26, 25, 25);
  text-align: center;
  color: white;
}

.sidebar_image {
  height: 200px;
  width: 200px;
  object-fit: contain;
  border: 3px solid #13547a;
  border-radius: 50%;
  background-color: #181818;
  transition: transform 0.2s linear;
}
.sidebar_image:hover {
  transform: scale(1.02);
}

.sidebar_icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.social-icon {
  width: 40px;
  height: 40px;
  margin-top: 1px;
  margin-bottom: -8px;
}

.sidebar_name {
  font-size: 23px;
  font-weight: 500;
  margin: 15px 0;
}
.sidebar_item {
  margin-bottom: 6px;
  margin-top: 6px;
  padding: 7px;
  height: 40px;
  font-size: 1rem;
  border-radius: 30px;
  font-weight: 500;
}
.sidebar_title {
  background-color: #181818;
  border-radius: 30px;
  font-weight: 600;
  text-align: center;
  margin: auto;
}

.sidebar_social-icons {
  margin-left: 12px;
}

.phone:hover {
  background-color: #f1f1f1;
  color: #13547a;
}

.sidebar_contact {
  background-color: #181818;
  padding: 2px 0;
  margin: 20px -15px;
}

.sidebar_email {
  background-image: linear-gradient(to right bottom, #13547a, #80d0c7);
  border-radius: 30px;
  color: #fff;
  margin: 15px 25px 0px;
  cursor: pointer;
  transition: all 2s;
}

.sidebar_email:hover {
  transform: scale(1.1);
}
.sidebar_resume {
  color: white;
}
.sidebar_github a {
  color: white;
}
.sidebar_github a:hover {
  color: #13547a;
}

.sidebar_resume:hover {
  background-color: #f1f1f1;
  color: #13547a;
}

/* navbar  */
.navbar {
  background-color: black;
}

.navbar_items {
  display: flex;
}

.navbar_active {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  border-bottom: 4px solid #13547a;
}

.navbar_item {
  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
}

.navbar_item:hover {
  background: -webkit-linear-gradient(#13547a, #80d0c7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*  about */

.about {
  height: 80vh;
  overflow-y: auto;
  background-color: black;
  color: rgb(228, 228, 228);
}

.about_intro {
  font-size: 1rem;
  padding: 20px;
  margin: 10px 0;
  text-transform: capitalize;
}

.about_container {
  background-color: #181818;
  padding: 30px 20px;
}

.about_heading {
  font-size: 25px;
  font-weight: 700;
  color: rgb(218, 218, 218);
}
.skill-card {
  background-color: black;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.skill-card_icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.skill-card_body {
  margin-left: 5px;
}
.skill-card_content {
  font-size: 0.9rem;
  color: #c9c9c9;
  text-transform: capitalize;
}

/* resume */

.resume {
  height: 80vh;
  padding-top: 20px;
  overflow-y: auto;
  color: white;
}

.resume-language_heading,
.resume-card_heading {
  margin-left: 10px;
  font-size: 1.7rem;
  font-weight: 700;
  color: rgb(224, 220, 220);
  margin-top: 10px;
}

.resume-card_body {
  margin-top: 10px;
  color: rgb(196, 196, 196);
}

.resume-card_title {
  font-weight: 700;
}

.resume-card_name {
  font-size: 16px;
}
.resume-card_details {
  font-size: 0.9rem;
  padding-top: 5px;
  text-transform: capitalize;
}

.bar {
  width: 95%;
  background-color: #181818;
  border-radius: 20px;
  margin-bottom: 12px;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}

.bar_icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.bar_wrapper {
  background-image: linear-gradient(#13547a, #80d0c7);
  border-radius: 20px;
  padding: 4px 14px;
  color: #fff;
  font-size: 0.9rem;
  transform-origin: left;
  transform: scaleX(0);
  animation: animate 1.25s cubic-bezier(1, 1, 0.5, 1) forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.bar::before {
  animation: showText2 0.5s 1.5s linear forwards;
}
.bar::after {
  animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
  100% {
    opacity: 1;
  }
}

/* project */

.projects {
  height: 80vh;
  padding-top: 30px;
  overflow-y: auto;
}

.projectCard_wrapper {
  margin: 10px 0;
  width: 100%;
  height: 100%;
  min-height: 160px;
  padding-bottom: 45px;
}
.projectCard_image {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border: 1px solid #13547a;
  transition: transform 0.3s linear;
}
.projectCard_image:hover {
  transform: scale(1.05);
}

.projectCard_icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.projectCard_title {
  margin-top: 12px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  color: white;
}
.projectCard_title a {
  color: rgb(207, 205, 205);
}
.projectCard_title a:hover {
  color: #13547a;
}

.projects_navbar{
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
}

.project-search input{
  outline: none;
  width: 100%;
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 3px 7px;
  background: none;
  color: white;
  z-index: 1;
}

.projects_navbar-item {
  display: flex;
  margin-bottom: 5px;
  color: #fff;
}

.projects_navbar-item > div {
  margin: 0 5px;
  font-size: 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .app_main_content {
    margin-top: 10px;
  }
  .projectCard_wrapper {
    padding-bottom: 60px;
  }
}

@media only screen and (max-width: 400px) {
  .navbar_item {
    font-size: 1.1rem;
  }
  .navbar_active {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 989px) {
  .bar {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .project-search{
    width: 100%;
    margin: auto;
    padding: 20px 10px;
  }
}
